.employees-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.add-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.status {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.edit-button, .note-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.note-button {
  background-color: #28a745;
}