.calendar-container {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.btn-add-event, .btn-save, .btn-cancel, .btn-edit {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.btn-add-event:hover, .btn-save:hover, .btn-cancel:hover, .btn-edit:hover {
  background-color: #0056b3;
}

.calendar {
  margin-top: 20px;
  height: 100%;
}

.modal {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.BigCalendarStyle {
  height: 80%;
}