.sidebar {
  max-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: #717a831c 0 7px 30px;
  padding-left: 35px;
  padding-right: 50px;
  padding-top: 25px;
  box-sizing: content-box;
  &-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  img{
    width: 220px;
  }
}
  &-links {
    font-size: 20px;
    text-transform: capitalize;
    color: #3f3f3f;
    text-decoration: none;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #f7f7f7;
      transition: 0.3s ease-in-out;
    }
  }
  &-icon {
    margin-right: 15px;
  }
}