.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    .login-window {
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      max-width: 350px;
      width: 100%;
      padding: 50px 40px;
      text-align: center;
    }
  
    h2 {
      font-size: 28px;
      color: #333;
      margin-bottom: 30px;
      font-weight: bold;
    }
  
    .icon {
      font-size: 60px;
      margin-bottom: 30px;
      color: #333;
      background-color: #e0e0e0;
      border-radius: 50%;
      display: inline-block;
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
  
    .form-group {
      margin-bottom: 25px;
      text-align: left;
  
      label {
        display: block;
        margin-bottom: 10px;
        color: #333;
      }
  
      input {
        width: 100%;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #edf03a;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
        box-sizing: border-box;
  
        &:focus {
          border-color: #666;
          outline: none;
          box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
        }
      }
  
      .password-container {
        display: flex;
        align-items: center;
        position: relative;
  
        input[type="password"] {
          flex: 1;
        }
  
        .toggle-visibility {
          position: absolute;
          right: 10px;
          cursor: pointer;
          font-size: 18px;
          color: #666;
        }
      }
    }
  
    button {
      width: 100%;
      padding: 14px 0;
      background: linear-gradient(90deg, #edf03a, #e4b415); // Gradient button
      border: none;
      border-radius: 25px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background: linear-gradient(90deg, #e4b415, #edf03a); // Reverse gradient on hover
      }
    }
  
    .signup-link {
      margin-top: 25px;
      color: #333;
      font-size: 15px;
  
      a {
        color: #0072ff;
        text-decoration: none;
        font-weight: bold;
        margin-left: 5px;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  #password {
    input {
      padding-right: 40px;
    }
  }
  }