@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #FAFBFB;
  overflow: hidden;
}
.content {
  padding: 50px;
  width: 100%;
  max-height: 100%;
  box-sizing: content-box;
  overflow-y: auto;
  overflow-x: hidden;
}