body {
  font-family: 'Open Sans';
  margin: 0;
}
a {
  text-decoration: none;
}

.logout {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}